html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  background: #1E1E1E;
  overflow-x: hidden;
}

a {
  color: inherit;
  display: inherit;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.wrapper .main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  z-index: 100;
}
.header__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 15px 0;
}
.header__item {
  display: flex;
  align-items: center;
}
.header__logo {
  margin-right: 30px;
}
.header__logo-text {
  font-size: 64px;
  line-height: 80px;
}
.header__menu {
  display: flex;
  align-items: center;
}
.header__burger {
  display: none;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}
.header__burger span {
  display: block;
  width: 35px;
  height: 3px;
  background: #fff;
  border-radius: 25px;
  margin-top: 7px;
}
.header__burger span:first-child {
  width: 20px;
}
.header__burger span:nth-child(2) {
  width: 25px;
}
.header__list {
  display: flex;
  justify-content: space-around;
}
.header__list li + li {
  margin-left: 30px;
}
.header__list li {
  font-size: 25px;
  line-height: 29px;
}
.header__wallet {
  font-size: 25px;
  line-height: 29px;
  padding: 15px;
  margin: 0 30px 0 20px;
  background: #FFB3FC;
  box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.56);
  border-radius: 15px;
  color: #000;
}
.header__language--active {
  padding: 17px 12px;
  background: rgba(255, 255, 255, 0.69);
  border-radius: 50%;
}
.header__language {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-100%);
  background: rgba(186, 179, 179, 0.8);
  color: #000;
  padding: 30px 30px 30px 30px;
  font-size: 19px;
  line-height: 22px;
  border-radius: 25px;
  transition: all 0.3s;
}
.header__language.active {
  transform: translateY(80%);
  transition: all 0.6s;
}
.header__english {
  border-bottom: 1px solid #000;
  padding: 0 0 20px 50px;
  position: relative;
}
.header__english::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 25px;
  background: url("../images/header/lang-2.png") 0 0 no-repeat;
}
.header__arabian {
  padding: 0 0 0 50px;
  margin-top: 20px;
  position: relative;
}
.header__arabian::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 25px;
  background: url("../images/header/lang-1.png") 0 0 no-repeat;
}

.home {
  background: url("../images/home/bg.jpg") 0 0/100% 100% no-repeat;
  height: 100vh;
}
.home__inner {
  padding-top: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.home__top {
  display: flex;
}
.home__icon {
  margin-bottom: 10px;
}
.home__time {
  font-size: 96px;
  line-height: 98px;
  margin: 50px 0 0 150px;
}
.home__button {
  text-align: center;
  margin-bottom: 80px;
}
.home__btn {
  display: inline-block;
  font-size: 64px;
  line-height: 80px;
  background: #AB45B4;
  box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.56);
  border-radius: 35px;
  padding: 10px 66px;
}

.nft {
  background: url("../images/nft/bg.png") 0 0/100% 100% no-repeat;
}
.nft__inner {
  padding-bottom: 170px;
}
.nft__items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 100px 0 50px 0;
}
.nft__item {
  text-align: center;
  background: #FFB3FC;
  border-radius: 15px;
  padding: 10px;
  color: #000;
}
.nft__item:nth-child(even) {
  margin-top: 120px;
}
.nft__item:nth-child(odd) {
  margin-top: -100px;
}
.nft__name {
  margin-top: 5px;
}
.nft__text {
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  max-width: 700px;
  margin: 0 auto 50px auto;
}

.info {
  background: url("../images/info-bg.jpg") 0 0/100% 100% no-repeat;
  padding-bottom: 100px;
}
.info__title {
  font-size: 40px;
  line-height: 50px;
  max-width: 800px;
  margin: 0 auto 60px auto;
  text-align: center;
}
.info__text {
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  max-width: 700px;
  margin: 0 auto 50px auto;
}

.column-info {
  margin-bottom: 25px;
}
.column-info__items {
  display: flex;
  align-items: center;
  justify-content: center;
}
.column-info__item {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 10px;
}
.column-info__item-1, .column-info__item-2 {
  max-width: 160px;
}
.column-info__item-3, .column-info__item-4, .column-info__item-5 {
  max-width: 100px;
}
.column-info__title {
  font-size: 16px;
  line-height: 19px;
}
.column-info__body {
  background: #FFB3FC;
  width: 100%;
  height: 25px;
  border-radius: 25px;
  margin: 5px 0;
}
.column-info__text {
  font-size: 16px;
  line-height: 19px;
  color: #484461;
}

.blockchain {
  background: url("../images/blockchain/bg.jpg") 0 0/100% 100% no-repeat;
  padding-bottom: 50px;
}
.blockchain__title {
  padding: 70px 0;
  font-size: 40px;
  line-height: 50px;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
.blockchain__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blockchain__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.blockchain__items:last-child {
  justify-content: center;
}
.blockchain__items:last-child .blockchain__item {
  margin: 20px 60px 0 60px;
}
.blockchain__img {
  margin: 0 auto;
  margin-bottom: 20px;
}
.blockchain__text {
  font-size: 20px;
  line-height: 23px;
  max-width: 230px;
  text-align: center;
  margin-bottom: 20px;
}
.team {
  background: url("../images/footer/bg.jpg") 0 0/100% 100% no-repeat;
}
.team__inner {
  font-size: 20px;
  line-height: 23px;
}
.team__items {
  display: flex;
  margin-bottom: 50px;
}
.team__title {
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 20px;
}
.team__text {
  margin-bottom: 20px;
}
.team__list li {
  margin-bottom: 10px;
}
.team__list span {
  color: rgb(255, 179, 252);
}
.team__line {
  display: flex;
  margin-left: 30px;
}
.team__line img {
  margin: 5px;
}
.team__adress {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 26px;
  line-height: 30px;
}
.team__adress a {
  color: rgb(255, 179, 252);
}

.footer__title {
  text-align: center;
  font-size: 55px;
  line-height: 69px;
}
.footer__items {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.footer__item + .footer__item {
  margin-left: 20px;
}
.footer__botton {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.footer__column {
  display: flex;
}
.footer__text {
  font-size: 16px;
  line-height: 19px;
  max-width: 700px;
  color: #17132F;
}
.footer__link + .footer__link {
  margin-left: 30px;
}
.footer__link {
  color: #FFB3FC;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  text-decoration: underline;
}

@media (max-width: 1500px) {
  .team__items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .team__line {
    margin-left: 0;
  }
}
@media (max-width: 961px) {
  .header__burger {
    display: flex;
    margin-right: 20px;
    z-index: 5;
  }
  .header__menu {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    transform: translateY(-150%);
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    border-radius: 0 0 50px 150px;
    transition: all 0.5s;
  }
  .header__menu.active {
    transition: all 0.5s;
    transform: translateY(0);
  }
  .header__language--active {
    z-index: 5;
  }
  .header__list {
    flex-direction: column;
  }
  .header__list li + li {
    margin-left: 0;
  }
  .header__list li {
    margin-bottom: 30px;
  }
  .header__list li:first-child {
    padding-top: 100px;
  }
  .header__wallet {
    margin-bottom: 50px;
  }
  .header__item:first-child {
    z-index: 5;
  }
  .home__time {
    font-size: 70px;
    line-height: 78px;
    margin: 30px 0 0 40px;
  }
  .nft__items {
    flex-wrap: wrap;
  }
  .column-info__items {
    flex-wrap: wrap;
  }
  .column-info__item {
    max-width: 150px;
  }
  .blockchain__items {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .blockchain__image {
    display: none;
  }
  .blockchain__text {
    max-width: 150px;
  }
  .blockchain__items:last-child {
    justify-content: space-around;
  }
  .blockchain__items:last-child .blockchain__item {
    margin: 20px 0px 0 0px;
  }
  .blockchain__title {
    padding: 30px 0;
    font-size: 34px;
    line-height: 44px;
  }
  .team__adress {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 20px;
  }
  .footer__botton {
    flex-direction: column;
    align-items: center;
  }
  .footer__text {
    margin-bottom: 10px;
    text-align: center;
  }
}
@media (max-width: 580px) {
  .header__item:first-child {
    flex-direction: column;
  }
  .header__logo-text {
    font-size: 40px;
    line-height: 48px;
  }
  .header__logo {
    margin-right: 0px;
  }
  .home__inner {
    padding-top: 150px;
  }
  .home {
    background: url("../images/home/bg.jpg") right/cover no-repeat;
  }
  .nft__inner {
    padding-bottom: 50px;
  }
  .info__text {
    font-size: 18px;
    line-height: 24px;
    margin: 0 auto 31px auto;
  }
  .nft__text {
    font-size: 18px;
    line-height: 24px;
    margin: 0px auto 25px auto;
  }
  .info__title {
    font-size: 32px;
    line-height: 38px;
    margin: 0 auto 30px auto;
  }
  .team__adress {
    flex-direction: column;
    align-items: center;
  }
  .header__logo {
    width: 90px;
  }
}
@media (max-width: 480px) {
  .header__language {
    padding: 10px;
  }
  .header__english {
    padding: 0 0 10px 40px;
  }
  .header__arabian {
    padding: 0 0 0 40px;
    margin-top: 10px;
  }
  .header__language.active {
    transform: translateY(150%);
    transition: all 0.6s;
  }
  .header__list li:first-child {
    padding-top: 150px;
  }
  .home__time {
    font-size: 50px;
    line-height: 60px;
    margin: 10px 0 0 30px;
  }
  .home__btn {
    font-size: 50px;
    line-height: 60px;
    padding: 10px 40px;
  }
  .nft__item:nth-child(even) {
    margin-top: 0px;
    margin-right: auto;
  }
  .nft__item:nth-child(odd) {
    margin-top: 0px;
    margin-left: auto;
  }
  .nft__item {
    margin-bottom: 10px;
  }
  .nft {
    background: url("../images/nft/bg.png") 0 0/cover no-repeat;
  }
  .team__adress {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 20px;
  }
  .team__line {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .footer__title {
    font-size: 40px;
    line-height: 42px;
  }
  .footer__text {
    font-size: 14px;
    line-height: 16px;
  }
  .footer__link {
    font-size: 12px;
    line-height: 15px;
  }
}